ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: lightgrey;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: white;
}

.active {
    background-color: white;
}

.banner {
	background-image: url("images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}

#home1 figure{
	padding: 5px;
	margin: 1 1px 0.5px 1px ;
	float: left;
	width: 20%;
	border: 2px solid lightgray;
}

#home1 figcaption {
	font-size: 90%;
	text-align: center;
}

#home img{
	width: 100%;
}

p {
    font-family: Arial;
    font-size: 14pt;
}

footer{
    background-color: lightgray;
}

footer p{
    text-align: center;
    color:black;
    margin: 1px;
}

footer img{
    size: 20px;
    width: 20px;
    margin: 2px;
}

.news img {
	width: 15%;
	float: left;
	padding: 0.5px;
	margin: 0 1px 0.5px 0.5px;
}

.news h2 {
	margin: 0.5px 0.5px;
	font-size: 35px;
	color: black;
}

.news hr {
	margin: 1px;
	border: 1px line black;
	clear: both;
}

.news time {
	font-size: 90%;
	font-style: italic;
}

.description {
	font-weight: bold;
	margin: 0.8px 1px 1.5px 1px;
}

#galerija figure {
	padding: 5px;
	margin: 0 1px 0.5px 1px ;
	float: left;
	width: 20%;
	border: 2px solid lightgray;
}

#galerija figcaption {
	font-size: 90%;
	text-align: center;
}

#galerija img{
	width: 100%;
}

hr {
	border: 1px line lightgray;
	clear: both;
}

#contact {
	margin: 1px
}

input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: 'Arial', Arial;
	font-size: 95%;
	vertical-align: middle
}

input[type=submit] {
    display: block;
	background-color: lightgray;
    color: black;
    padding: 12px 20px;
    border: lightgray;
    border-radius: 4px;
    cursor: pointer;
	width: 25%;
}

#slike_gallery figure {
	padding: 5px;
	margin: 1 1px 0.5px 1px ;
	float: left;
	width: 20%;
	border: 2px solid lightgray;
}

#slike_gallery figcaption {
	font-size: 90%;
	text-align: center;
}

#slike_gallery img{
	width: 100%;
}

video{
	float:left;
	display: block;
	margin:0 5px 10px 5px;
}